.videoFooter {
    /* relative means, just in this container, and anywhere else*/
    position: relative;
    bottom: 50px;
    color: white;
    display: flex;

}

.videoFooter__text {
    flex: 1;
}

.videoFooter__record {
    animation: spinTheRecord infinite 5s linear;
    height: 50px;
    filter: invert(1);
}

@keyframes spinTheRecord {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
