html {
    /*snapping it does not work without it*/
    scroll-snap-type: y mandatory;
}

.app {
    height: 100vh;
    background-color: black;
    /* centering the whole block*/
    display: grid;
    place-items: center;
}

.app__videos {
    position: relative;
    border-radius: 20px;
    height: 800px;
    overflow: scroll;
    width: 80%;
    max-width: 500px;
    /* set snap mode in the y direction*/
    scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.app__videos::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app__videos {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}