html {
    /*snapping it does not work without it*/
    scroll-snap-type: y mandatory;
}

.app {
    background-color: black;
}

.app__videos {
    position: relative;
    height: 800px;
    overflow: scroll;
    width: 80%;
    max-width: 500px;
    /* set snap mode in the y direction*/
    scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome and opera*/

.app__videos::-webkit-scrollbar {
    display: none;
}

/* hide scrollbar for IE, Edge, and firefox */

.app__videos {
    -ms-overflow-style: none;
    scrollbar-width: none;
}