html {
    /*snapping it does not work without it*/
    scroll-snap-type: y mandatory;
}


.app__videos {
    position: relative;
    height: 800px;
    overflow: scroll;
    width: 80%;
    max-width: 500px;
    /* set snap mode in the y direction*/
    scroll-snap-type: y mandatory;
}